.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 24px;
  background-color: #1e293b;
  color: white;
  font-family: "Fira Code", monospace;
}

.nav-right a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  font-size: 1.1rem;
}

.nav-right a.active {
  border-bottom: 2px solid #38bdf8;
}

.content {
  padding: 24px;
  background-color: #f1f5f9;
  height: calc(100vh - 60px);
}
