<div class="home-container">
  <h1>Car Assist Simulation</h1>

  <div class="simulation-controls">
    <select [(ngModel)]="selectedSimulation">
      <option *ngFor="let s of simulations" [value]="s.value">
        {{ s.label }}
      </option>
    </select>

    <button (click)="startSimulation()">Start simulation</button>
  </div>

  <div class="rules-panel" *ngIf="firedRules.length > 0; else noData">
    <div *ngFor="let r of firedRules" class="rule-box">
      <h3>{{ r.ruleName }}</h3>
      <ul>
        <li *ngFor="let f of r.facts">{{ f | json }}</li>
      </ul>
    </div>
  </div>

  <ng-template #noData>
    <p class="no-data">No activated rules.</p>
  </ng-template>
</div>
